%h2 Create/Sign-up New User
.centered
  = link_to "I already got me an account! Take me back twer I was.", new_session_path
%br
.col-md-6.col-md-offset-3
  = form_for(@new_user, url: users_path, html: {class: 'form-horizontal',  method: :post }) do |f|
    .form-group
    %label{:class => 'col-sm-4 control-label'} First Name:
    .col-sm-8
    = f.text_field :first_name, class: 'col-sm-8', autofocus: true
    .form-group
    %label{:class => 'col-sm-4 control-label'} Last Name:
    .col-sm-8
    = f.text_field :last_name, class: 'col-sm-8'
    .form-group
    %label{:class => 'col-sm-4 control-label'} Email:
    = f.email_field :email, class: 'col-sm-8'
    .form-group
    %label{:class => 'col-sm-4 control-label'} Password:
    = f.password_field :password, class: 'col-sm-8'
    .form-group
    %label{:class => 'col-sm-4 control-label'} Confirm Password:
    = f.password_field :password_confirmation, class: 'col-sm-8'
    .form-group
    = f.submit "Giddyup", class: 'col-sm-4 col-sm-offset-4'